<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
<script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/style.css">
<style>
  .dropdown-item, .dropdown-menu{
    color: rgba(255,255,255,.5)  !important;
  }
  .dropdown-item:hover{
    color: white !important;
    background-color: transparent !important;
  } 
  
</style>
  
</head>

<body>
 
    <nav style="background-color: #292929;" class="navbar navbar-expand-lg navbar-dark bg-grey w-100">
      <a style="color: #fff;" class="navbar-brand" href="/">RYDE Admin</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/admin/users">User information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/cars">Cars listed</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/bookings">Bookings</a>
          </li>
        </ul>
      </div>
    </nav>
  <br>
  <br>
  <br>
  <div class="container marketing text-center">
   
    <div class="container text-center">
    <div style="background-color: white;">
        
    <table id="carinfo" class="table table-hover table-responsive table-bordered display rounded-3 border shadow-lg" >
        <thead>
            <tr>
                <th>Car id</th>       
                <th>User id</th>
                <th>Address</th>
                <th>State</th>
                <th>City</th>
                <th>Zip</th>
                <th>Year</th>
                <th>Make</th>
                <th>Model</th>
                <th>Kmpl</th>
                <th>Number of doors</th>
                <th>Number of seats</th>
                <th>Fuel type</th>
                <th>Transmission</th>
                <th>Features</th>
                <th>Car Image</th>
                <th>Car category</th>
                <th>Offers</th>
                <th>Availability</th>
                <th>Ongoing</th>
                <th>Listed</th>
                <th>Price</th>
                <th>Remove</th>
                
            </tr>
        </thead>
        <tbody>
            <% for(let i=0; i<carlist.length; i++){%> 
            <tr>
                <td><%= carlist[i].Car_id %></td>
                <td><%= carlist[i].User_id %></td>       
                <td style="width:250px;"><%= carlist[i].Address %></td>
                <td><%= carlist[i].State %></td>
                <td><%= carlist[i].City %></td>
                <td><%= carlist[i].Zip %></td>
                <td><%= carlist[i].Year %></td>
                <td><%= carlist[i].Make %></td>
                <td><%= carlist[i].Model %></td>
                <td><%= carlist[i].Kmpl %></td>
                <td><%= carlist[i].No_of_doors %></td>
                <td><%= carlist[i].No_of_seats %></td>
                <td><%= carlist[i].Fuel_type %></td>
                <td><%= carlist[i].Trasmission %></td>
                <td><%= carlist[i].Features %></td>
                <% if (carlist[i].Car_img.split(",")[0] ===null||carlist[i].Car_img.split(",")[0] ==="" ) { %>
                    <td>No car image</td>
                    <% } else{ %> 
                <td><button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#a<%=carlist[i].Car_img.split(",")[0] %>">
                    View Image
                  </button>
                  <% } %>                 
                <td><%= carlist[i].Car_category %></td>
                <td><%= carlist[i].Offers %></td>
                <td><%= carlist[i].Availability %></td>
                <td><%= carlist[i].Ongoing %></td>
                <td><%= carlist[i].Listed %></td>
                <td><%= carlist[i].Price %></td>
                <form class="needs-validation" novalidate action="/admincars" method="post" enctype="multipart/form-data"
        autocomplete="off">
                <input type="hidden" value="<%= carlist[i].Car_id %>" name="carid">
                    <td> <button type="submit" class="btn btn-outline-warning  btn-sm">Delete</button></td>
                </form>
            </tr>
            <div class="modal fade" id="a<%=carlist[i].Car_img.split(",")[0]%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Car Images</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <img src="/resources/<%=carlist[i].Car_img.split(",")[0]%>" style='width:100%;' alt="img">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
           <%}%>
        </tbody>
    </table>
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
    </script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready( function () {
    $('#carinfo').DataTable();
} );
    </script>
</body>
</html>