<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
<script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="css/style.css">
<style>
  .dropdown-item, .dropdown-menu{
    color: rgba(255,255,255,.5)  !important;
  }
  .dropdown-item:hover{
    color: white !important;
    background-color: transparent !important;
  } 
  
</style>
  
</head>

<body>
 
  <nav style="background-color: #292929;" class="navbar navbar-expand-lg navbar-dark bg-grey w-100">
      <a style="color: #fff;" class="navbar-brand" href="/">RYDE Admin</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/admin">User information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/adminCars">Cars listed</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/adminbooking">Bookings</a>
          </li>
        </ul>
      </div>
    </nav>
  <br>
  <br>
  <br>
  <div class="container marketing text-center">
   
    <div class="container text-center">
    <div style="background-color: white;">
        
    <table id="bookinginfo" class="table table-hover table-responsive table-bordered display rounded-3 border shadow-lg" >
        <thead>
            <tr>
                <th>Booking_id</th>
                <th>Owner_id</th>
                <th>Rentee_id</th>
                <th>Car_id</th>
                <th>Date</th>
                <th>Duration_hrs</th>
                <th>Ongoing</th>
                <th>Price</th>
                <th>Return_date</th>
                <th>Paid</th>
                <th>Remove</th>
            </tr>
        </tr>
    </thead>
    <tbody>
        <% for(let i=0; i<booking.length; i++){%> 
        <tr>
            <td><%= booking[i].Booking_id %></td>
            <td><%= booking[i].Owner_id %></td>
            <td><%= booking[i].Rentee_id %></td>
            <td><%= booking[i].Car_id %></td>
            <td><%= booking[i].Date %></td>
            <td><%= booking[i].Duration_hrs %></td>
            <td><%= booking[i].Ongoing %></td>
            <td><%= booking[i].Price %></td>
            <td><%= booking[i].Return_date %></td>
            <td><%= booking[i].Paid %></td>
            <form class="needs-validation" novalidate action="/adminbooking" method="post" enctype="multipart/form-data"
        autocomplete="off">
                <input type="hidden" value="<%= booking[i].Booking_id %>" name="bookingid">
                    <td> <button type="submit" class="btn btn-outline-warning  btn-sm">Delete</button></td>
                </form>
        </tr>
        <% } %> 
    </tbody>
</table>
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
</script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
<script>
    $(document).ready( function () {
$('#bookinginfo').DataTable();
} );

</script>
</body>
</html>